.currency-abreviation {
  font-weight: 600;
  font-size: 1.4rem;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-abreviation-primary {
  color: #fff;
}

.currency-abreviation-secondary {
  color: #ff5152;
}