main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;

}

.background-top {
  background-color: #ff5152;
}

.background-bottom {
  background-color: #fff;
}